<header>
  <link href="/resources/css/stylesheet.css" rel="stylesheet" type="text/css">
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto" id="budget-menu">
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/budget" id="budget-menu-text">Yearly Budget</a>
            </li>
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/jan"id="budget-menu-text">January</a>
            </li>
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/feb"id="budget-menu-text">February</a>
            </li>
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/march"id="budget-menu-text">March</a>
            </li>
            <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/april"id="budget-menu-text">April</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/may"id="budget-menu-text">May</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/june"id="budget-menu-text">June</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/july"id="budget-menu-text">July</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/aug"id="budget-menu-text">August</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/sep"id="budget-menu-text">September</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/oct"id="budget-menu-text">October</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/nov"id="budget-menu-text">November</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="nav-link" href="/dec"id="budget-menu-text">December</a>
              </li>
          </ul>
      </div>
    </nav>
   </header>
   

   