<main>
    <link href="/resources/css/stylesheet.css" rel="stylesheet" type="text/css">

    <div class="container">
        <form method="get" action="/logout" id="logout-button">
            <button type="submit_button" class="btn btn-primary" id="logout-button">Logout</button>
        </form>
    </div>
</main>