<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

    <main>
      <link href="/resources/css/stylesheet.css" rel="stylesheet" type="text/css">
      <div class="container">
        <img id="logo-img" src="../resources/images/EZBudget_Logo.png" alt= "Logo">
        <h1><centre id="title">Managing money made simple</centre></h1>
          <form action="/login" method="GET">
              <button id="submit_button" class="btn btn-primary" type="submit">
                  Sign In Now!
                </button>
            </form>
      </div>
    </main>


  <%- include ('../partials/footer') %>