<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<main>
  <link href="/resources/css/stylesheet.css" rel="stylesheet" type="text/css">
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1 id="logout-text">Successfully Logged Out</h1>
        
  </div>
</main>

<%- include ('../partials/footer') %>