<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %> 
<div class="col"><%- include ('../partials/message') %></div>
<main> 
  <link href="/resources/css/stylesheet.css" rel="stylesheet" type="text/css">
  <img id="logo-img-login" src="../resources/images/EZBudget_Logo.png" alt= "Logo">
    <div class="container" id="info-box">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1 id="user-title">Register</h1>
      <p>
        <form action="/register" method="POST">
          <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div>
            <input type="submit" value="Register">
          </div>
        </form>
      </p>
      
    <p id="register-reminder">If you already have an account, <a href="/login">sign in here</a>.</p>
    </div>
  </main>
  
  <%- include ('../partials/footer') %>
